/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-abr-2017, 11:53:34
    Author     : clara
*/

.navbar {    
    background-color: white;
    font-size: 13px;
}

.navbar-brand {
    color: rgba(0, 0, 0, 0.5)!important;
}

.nav-item .pt-2 {
    padding-top: 10px!important;
}

.white {
    color: white!important;
}
